<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>
      Probably all of us have written code that does something similar to code that has already been written, and it
      probably did it better.
      But... that does not mean that it was valueless. Learning happened.
    </p>
    <p>
      Gonzo Code is a place for learning by doing; exposing the wounds of how things went drastically wrong, or sharing
      how a little corner of your pet project turned out to be a gem.
    </p>
  </div>
  <div class="col-md-10 col-md-offset-1">"Never create anything, it will be misinterpreted, it will chain you and follow
    you for
    the rest of your life.” - HST
  </div>
</div>
