$color-dark-dark: #323031;
$color-medium-dark: #4e4b4d;
$color-light-dark: #747570;
$color-border-dark: #1a1a1a;
$color-white: #e6ffff;
$color-turquoise: #69FFF1;
$color-green: #63D471;
$color-darker-green: #63A46C;
$color-red: #f44265;

.title-bar {
  background-color: $color-dark-dark;
  color: azure;
  font-size: 25px;
  text-align: center;
}

.nav-item {
  background-color: $color-medium-dark;
  white-space: nowrap;
  font-size: 20px;
  color: $color-white;
  cursor: pointer;
  border-style: solid;
  border-color: $color-turquoise;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.nav-item:hover {
  background: $color-light-dark;
}

.no-padding {
  padding: 0 !important;
}

.nav-buffer {
  background-color: $color-medium-dark;
  padding: 0px !important;
  border-style: solid;
  border-color: $color-turquoise;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.main-body {
  background-color: $color-dark-dark;
  color: $color-white;
}

.text-center {
  text-align: center;
}

.router-link-active.nav-item {
  background-color: $color-dark-dark;
  color: $color-turquoise;
  border-style: solid;
  border-color: $color-turquoise;
  border-top: 0px;

}

%bordered {
  border-style: solid;
  border-color: $color-turquoise;
  border-radius: 10px;
  border-width: 2px;
}

%bordered-thin {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.bordered-neon {
  @extend %bordered;
  border-color: $color-turquoise;
}

.bordered-neon-thin {
  @extend %bordered-thin;
  border-color: $color-turquoise;
}

.bordered-light {
  @extend %bordered;
  border-color: $color-white;
}

.bordered-light-thin {
  @extend %bordered-thin;
  border-color: $color-white;
}

.background-dark-dark{
  background-color: $color-dark-dark;
}

.background-medium-dark{
  background-color: $color-medium-dark;
}

.background-light-dark{
  background-color: $color-light-dark;
}

.margined {
  margin: 2px;
}

.failure-message {
  color: $color-red;
}

.vertical-scroll {
  overflow-y: scroll;
}

-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}

-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

input {
  background-color: $color-medium-dark;
  color: $color-white;
  width: 100%;
}

textarea {
  @extend input
}